.advantage-icon {
  padding-left: 102px;
  padding-right: 102px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #f5f4fa;
}
.section_title1 {
  color: #212121;
  text-align: center;
}
.section_description {
  color: #757575;
  text-align: center;
}
